@font-face {
  font-family: lma;
  src: url(/font/LeagueSpartan-Bold.otf);
}
@font-face {
  font-family: pro;
  src: url(/font/LeagueSpartan-Light.ttf);
}
.container {
  background-color: #a34f4f; /* Light gray background */
  border-radius: 10px;       /* Rounded corners */
  padding: 20px;             /* Space between the calculator's content and its edges */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  margin-top: 5%;            /* Optional: Adds some top margin to center it vertically a bit */
  height:60vh;
}

body {
  display: flex;
  justify-content: center; /* Centers the calculator horizontally */
  align-items: center;     /* Centers the calculator vertically */
  height: 100vh;           /* Takes full viewport height */
  padding: 20px;           /* A bit of padding so it doesn't stick to the edges */
  flex-direction: column;
  font-family: 'lma';
  font-size: 50px;
  font-weight: 800;
}
body h6{
  font-family: 'pro';
  font-weight: 500;
  font-size: 18px;
}
